.container {
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: #abdcea;
    padding: 2em;
    height: 400px;
    width: 800px;
}

.table {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    position: relative;
}

.robot {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.direction {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    margin-left: 20px;
}

button {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 15px;
    margin: 10px 15px;
    border: none;
}

button:hover {
    box-shadow: 0 0 0 5px #000000, inset 0 0 0 1px #fff;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
}

.commands {
    margin: 10px 15px;
}

input, select {
    padding: 0.1em;
    font-family: "VT323", monospace;
    font-size: x-large;
    width: 100%;
    margin-bottom: 1em;
}