<p>Place and move the robot</p>
<div class="container">
    <div class="table">
        <div class="robot" *ngIf="robotPlaced" [style.left.px]="x * 50" [style.bottom.px]="y * 50">
            <span class="direction">{{ direction }}</span>
        </div>
    </div>
    <div class="controls">
        <div class="commands">
            <label>X:</label>
            <input type="number" [(ngModel)]="x" />
        </div>
        <div class="commands">
            <label>Y:</label>
            <input type="number" [(ngModel)]="y" />
        </div>
        <div class="commands">
            <label>Direction:</label>
            <select [(ngModel)]="direction">
                <option value="NORTH">NORTH</option>
                <option value="SOUTH">SOUTH</option>
                <option value="EAST">EAST</option>
                <option value="WEST">WEST</option>
            </select>
        </div>
        <button (click)="placeRobot()">Place Robot</button>
        <button (click)="moveRobot()" [disabled]="!robotPlaced">Move Robot</button><br>
        <button (click)="turnLeft()" [disabled]="!robotPlaced">Turn Left</button>
        <button (click)="turnRight()" [disabled]="!robotPlaced">Turn Right</button>
        <button (click)="getReport(x, y, direction)" [disabled]="!robotPlaced">Report</button>
    </div>
</div>
<div *ngIf="report">
    <p>Robot Position: {{ report.x }}, {{ report.y }}</p>
    <p>Robot Direction: {{ report.direction }}</p>
</div>